*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

#headline{
    display: flex;
    background-color: red;
}


.texto{
    width: 100px;
}

.imagem1{
    width: 100px;
}
